#Mail
FORGOT_MAIL_URL=

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=
DISK=

# APP
APP_URL=
APP_PORT=
SECRET_TOKEN=
EXPIRES_IN_TOKEN=
SECRETE_REFRESH_TOKEN=
EXPIRES_IN_REFRESH_TOKEN=
EXPIRES_REFRESH_TOKEN_DAYS=
