<style>
  .container {
    width: 800px;
    font-family: Ariel, Helvetica, sans-serif;
    align-items: : center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  {{!-- <img src="https://i.imgur.com/oUAKMC4.png" alt=""> --}}
  <span>Hello,  {{name}}</span>

  <br/>

  <span>You have requested a password change!</span>
  <span>
    To reset, click on the link
    <a href={{link}}>{{link}}</a>
  </span>

  <span>If you were not the one who requested the password change, please ignore this email.</span>

  <strong>Thanks!</strong>

  <h3>Team | <strong>Rentalx</strong></h3>
</div>
